*{
  margin: 0px;
  padding: 0px;
}

.background{
  background-color: #008037;
  display: flex;
  
}

.main-cotent{
  display: flex;
  justify-content: center;
 

}

.logo{
  display: flex;
  width: 25%;
  margin-left: auto;
  margin-right: auto;

}

.background-img{
mix-blend-mode:multiply;
display: flex;
width: 45%;
margin-top: -400px;
margin-left: 300px;

}
.search{
width: 100%;
min-height: 100vh;
padding: 5%;
display: flex;
align-items: center;
justify-content: center;
margin-top: -900px;
margin-left: 100px;
}
.search-bar{
  width: 100%;
  max-width: 700px;
  display: flex;
  background: rgb(255, 255, 255, 0.2);
  align-items:center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(2px) saturate(140%);

}

.search-bar input{
  display: flex;
  background: transparent;
  flex: 1;
  border:0;
  outline: none;
  padding: 24px 20px;
  font-size:20px;
  margin-left: 100px;
  color: black;
}

::placeholder{
  display: flex;
  color: #FEFFFE;
  font-family:'Times New Roman', Times, serif;
  

}


.icon{
 
 width: 25px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #008037;
  cursor: pointer;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main-content, .logo, .search-bar {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main-content, .logo, .search-bar {
    width: 100%;
  }
}
